<div class="wrapper">

  <%# <div class="bar"> %>
    <form class="roster bar" method="post">

      <input type="submit" value="Play Single-Player Game"
        formaction="/games/singleplayer">

      <span>Or challenge another player!</span>

      <% @users.each do |user| %>
        <button type="submit" formaction="/invites"
        name="user_id" value="<%= user.id %>"><%= user.username %></button>
      <% end %>

    </form>
  <%# </div> %>

</div>