<div class="wrapper">

  <form class="roster bar" method="post">

    <input type="submit" value="Play Single-Player Game"
      formaction="/games">

    <span>Or challenge another player!</span>



    <% if @available_users.any? %>
      <% @available_users.each do |user| %>
        <button type="submit" formaction="/invites"
        name="user_id" value="<%= user.id %>"><%= user.username %></button>
      <% end %>

    <% else %>
      <span>...or not? Looks like there's nobody left to invite!</span>
    <% end %>

  </form>

</div>