<div class="board-wrapper">

  <div class="board">
    <%# probably use each.with_index to
      determine target for empty cell buttons%>
    <% @cells.each do |cell| %>

      <% if cell == "1" %>
        <div class="cell">
          <img src="/images/x.svg">
        </div>
      <% elsif cell == "2" %>
        <div class="cell">
          <img src="/images/o.svg">
        </div>
      <% else %>
        <div class="cell">
          <a href="#">
            <%# current player token %>
            <img src="/images/x.svg">
          </a>
        </div>
      <% end %>

    <% end %>
  </div>

</div>