<div class="wrapper">

  <%# wrap board in form tags for current player %>
  <% if @game.current_player == current_user %>
    <% unless @game.vs_computer && current_player_token == '1' %>
      <form method="post">
        <input type="hidden" id="hidden" name="_method" value="patch">
    <% end %>
  <% end %>
  <%#%>

    <div class="board">

      <% @game.cells.each_with_index do |cell, cell_index| %>

        <% if cell == "1" %>

          <div class="cell">
            <img src="/images/x.svg">
          </div>

        <% elsif cell == "2" %>

          <div class="cell">
            <img src="/images/o.svg">
          </div>

        <% else %>

          <%# display blank empty cell by default %>
          <div class="cell">
            <%# display interactive empty cells for current player %>
            <% if @game.current_player == current_user %>
              <% unless @game.vs_computer && current_player_token == '1' %>
                <input type="image"
                  src="/images/<%= @game.current_player_token == '1' ? 'x' : 'o' %>.svg"
                  formaction="/games/<%=@game.id%>/<%=cell_index%>">
              <% end %>
            <% end %>
            <%#%>
          </div>
          <%#%>

        <% end %>

      <% end %>

    </div>

  <%#%>
  <% if @game.current_player == current_user %>
    <% unless @game.vs_computer && current_player_token == '1' %>
      </form>
    <% end %>
  <% end %>
  <%# wrap board in form tags for current player %>

</div>