<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Web-Tac-Toe</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  </head>

  <body>


      <div class="navigation">

        <% unless request.path_info == "/signup" %>
          <% if logged_in? %>
            <div class="title bar">
              <span>Logged in as <%=current_user.username%></span>
            </div>
            <div class="bar">
              <form method="get" action="/games/new">
                <input type="submit" value="New Game">
              </form>
            </div>
            <div class="bar">
              <form method="get" action="/users/<%=current_user.slug%>">
                <input type="submit" value="Your Profile">
              </form>
            </div>
            <div class="bar">
              <form method="get" action="/logout">
                <input type="submit" value="Log Out">
              </form>
            </div>
          <% else %>
            <div class="title bar">
              <span>Welcome to Web-Tac-Toe!</span>
            </div>
            <div class="bar">
              <form method="post" action="/login">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="Log In">
              </form>
              <form method="get" action="/signup">
                <input type="submit" value="Sign Up">
              </form>
            </div>
          <% end %>
        <% end %>

      </div>


    <% if flash.has?(:message) %>
      <div class="flash_message">
        <span><%= flash[:message] %></span>
      </div>
    <% end %>

    <%= yield %>

  </body>

</html>